<div class="ui small menu">
    <a class="active item" href="">Home</a>
    <a class="item" href="">About</a>
    <a class="item" href="">Our Work</a>
    <a class="item" href="">Gallery</a>
    <a class="item" href="">Board</a>
    <div class="right menu">
        <div class="item">
            <div class="ui secondary button" style="margin-right:1em">Sign In</div>
            <!--
            inline css tag
            -->
            <div class="ui primary button">Sign Up</div>
        </div>
    </div>
</div>